# AWS
VITE_AWS_REGION=""
VITE_AWS_ACCESS_KEY_ID=""
VITE_AWS_SECRET_ACCESS_KEY=""
VITE_AWS_S3_BUCKET_NAME=""
VITE_AWS_S3_BUCKET_PUBLIC_URL=""


VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=

# Public catalog (web storefront)
VITE_CATALOG_URL=https://www.platinumdriveline.mx